# 1. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

1)

In [12]:
L = [1,2,3,4,5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

L을 1부터 3전까지 리스트 100으로 바꿔주므로 인덱스 1,2는 100으로 바뀐다

2)

In [13]:
L = [1,2,3,4,5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

L의 1부터 2까지를 리스트 100으로 바꿔주면서 인덱스 1,2는 사라지고 100이 들어간것을 볼 수 있다.

3)

In [14]:
L = [1,2,3,4,5]
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

타입에러가 뜨는데, 그 이유는 슬라이싱을 1부터 2까지 했는데, 대입되는 값이 정수이기 때문에 오류가 뜨는 것으로 보입니다.

4)

In [15]:
L = [1,2,3,4,5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

이 문제 또한 int값을 대입시키므로 오류가 뜨는 것으로 보입니다.

5)

In [19]:
L = [1,2,3,4,5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

리스트 L의 1부터 2까지 튜플인 (100,101,102)를 대입했으므로 100,101,102가 출력된다.

6)

In [20]:
L = [1,2,3,4,5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

리스트 L의 1부터 2까지 리스트인 [100,101,102]를 대입했으므로 100,101,102가 출력된다.

7)

In [22]:
L = [1,2,3,4,5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

리스트 L의 1부타 2까지 리스트 안에있는 (100,101,102) 튜플을 대입시켰으므로 튜플을 그대로 유지한체 대입이 된다.(리스트 안에 있는 객체가 들어가는 거기 때문)

8)

In [23]:
L = [1,2,3,4,5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

리스트 L의 1부터 2까지 리스트 안에있는 리스트를 대입시켰으므로 리스트를 유지한체 대입이 된다.(리스트 안에 있는 객체가 들어가는 거기 때문)

# 2. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
- 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
- 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [193]:
S = "Hello World and Python"
list = []
S = S.split(' ')
for ch in range(len(S)-1,-1,-1):
    list.append(S[ch])
s = ''.join(list)
print(s)

PythonandWorldHello

먼저 문자열 S를 공백을 기준으로 split을 하고, list에 거꾸로 넣어준 다음 join을 이용해 공백없이 출력하게 만들었습니다

# 3.다음 코드를 보고 물음에 답하시오.

In [64]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

- 1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.

In [70]:
a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

- 2) b와 c 객체의 차이는 무엇인가?

먼저 b는 리스트 a에 안에 있는 내용물을 append 3번 하는 것과 같고, c는 a라는 리스트를 곱하기 3을 한것과 같으므로 저라한 결과 나온다
여기서 a[0]를 0으로 바꾸었는데, b는 원래의 결과값과 같고, c는 a[0]번째가 바뀐체로 출력된다. 왜냐하면 b는 a의 내용물을 래퍼런스를 하고 c는 a라는 리스트를 래퍼런스하고 있기때문에 다음과 같은 결과가 나옵니다.

# 4. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

In [85]:
s = '  first star   :   second star   :    third star  '
i = []
sc = ''
s = s.split(':')
i = [ch.strip() for ch in s]
print(i)

['first star', 'second star', 'third star']

먼저 :을 기준으로 split을 하고, 리스트 내포방식을 이용해 i라는 리스트에 s안에 들어있는 값을 조사고 공백을 모두 제거한 뒤 넣어주게 했습니다.

# 5. 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.

1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

In [142]:
def addall(list):
    return sum([ch for ch in list])
def addallver2(list):
    sum = 0
    for ch in list:
        sum = sum + ch
    return sum

In [143]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(addall(a))
print(addallver2(a))

45
45

리스트 내포방식을 이용하여 return에 리스트안에 모두 더하는 함수인 sum을 사용하여 바로 리스트에 넣어 return해주었고, for ~ in리터널은 for함수를 사용하여 받은 리스트를 하나하나를 sum변수에 더해주어 sum을 return시켜주는 방법으로 했습니다.

2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

In [144]:
def addallodd(list):
    return sum([ch for ch in list if ch%2 != 0 ])
def addalloddver2(list):
    sum = 0
    for ch in list:
        if ch%2 !=0:
            sum = sum + ch
    return sum

In [145]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(addallodd(a))
print(addalloddver2(a))

25
25

리스트 내포방식을 이용하여 위에 했던 방법에서 뒤에 if문을 추가해주어 return시켜주었고, for ~ in리터럴 방법은 for문을 이용하여 리스트 안에 있는 값을 하나하나 if문을 이용하여 검사하여 홀수인 것만 sum에 더해주고 sum을 return시켰습니다.

# 6. 다음 코드를 보고 물음에 답하시오.

In [146]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?

d와 e는 똑같은 곳을 래퍼런스하고 있기 때문에 언제나 같은 결과를 출력합니다.

2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
{'high': [4, 500, 6], 'low': [1, 2, 3]}

먼저 e는 같은 주소를 공유하고 있으므로 d의 값이 바뀌면 e의 값도 바뀌지만, f같은 경우 얕은 복사를 하고 있어 d의 값이 바뀌면 d가 가리키는 것이 달라지는 것이기에 f는 바뀌지않고, d['high'][1]의 경우 d와 f가 가리키는 곳을 의미하므로 값이 바뀌면 d와 f또한 바뀐다.

# 7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오

- [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.

- 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [189]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
d_key = d.keys()
key_list = []
for ch in d_key:
    key_list.append(ch)
key_list.sort()
for ch in key_list:
    print((ch, d[ch]))

('five', 5)
('four', 4)
('one', 1)
('three', 3)
('two', 2)

먼저 d의 키값을 뽑아내고, 새로운 리스트를 만들어 d의 키값들을 for문을 이용해 새로운 리스트에 넣어주고, 그 리스트를 정렬한 다음, for문을 이용해 키를 출력하고 벨류값을 출력했습니다.

- 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [188]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
key_list = []
d_key = d.keys()
for ch in d_key:
    key_list.append(ch)
key_list.sort(reverse = True)
for ch in key_list:
    print((ch, d[ch]))

('two', 2)
('three', 3)
('one', 1)
('four', 4)
('five', 5)

위의 방법과 동일하지만, sort시킬때 reverse를 True로 바꾸어 내림차순으로 정렬되게 만들었습니다.

- 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [133]:
d = {'one':2, 'two':4, 'three':6, 'four':3, 'five':5}
d_key = d.keys()
list_key = []
list_value = []
list_newvalue = []
d_value = d.values()

for ch in d_value:
    list_value.append(ch)
for key in d.keys():
    list_key.append(key)
for ch in list_value:
    list_newvalue.append(ch)
print(list_newvalue)
list_value.sort()
a = 0
for ch in list_value:
    a = list_newvalue.index(ch)
    print((list_key[a], ch))

[2, 4, 6, 3, 5]
('one', 2)
('four', 3)
('two', 4)
('five', 5)
('three', 6)

먼저 key의 값과 value값을 넣을 리스트를 만들고, 정렬시키기 전 원래의 value를 담아줄 리스트를 하나 만들었습니다
그리고 a의 변수를 선언 후 a에 원래의 value리스트의 정렬된 리스트 안에 값의 인덱스를 넣어줘서 key:value 짝을 맞추었습니다.

- 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [190]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
d_key = d.keys()
list_key = []
list_value = []
list_newvalue = []
d_value = d.values()
for ch in d_value:
    list_value.append(ch)
for key in d.keys():
    list_key.append(key)
for ch in list_value:
    list_newvalue.append(ch)
list_value.sort(reverse = True)
a = 0
for ch in list_value:
    a = list_newvalue.index(ch)
    print((list_key[a], ch))

('five', 5)
('four', 4)
('three', 3)
('two', 2)
('one', 1)

위의 방법과 동일하고 내림차순으로 하기위해 sort함수를 쓸때 reverse를 True로 바꿔주면서 내림차순으로 정렬시켰습니다.

# 8. 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.
- length(X)를 다음과 같이 정의한다 : 10진수로 표현된 X의 자릿수
- Strange라는 숫자를 아래과 같이 정의한다.
    - 음이 아닌 정수 중 자릿수가 1인 모든 숫자는 Strange이다.
    - length(X) > 1 인 숫자 X 는 다음 2가지를 만족하면 Strange이다.
        - X는 length(X)로 정확히 나누어 떨어진다.
        - X / length(X) 가 strnage이다.

- 이 문제에서 숫자 하나가 주어질 때, 이 숫자가 Strange인지 판단하는 함수 isStrange(num)을 작성하시오.
- isStrange(num) 함수가 재귀적인 함수가 되도록 작성해 보세요.

In [186]:
def length(X):
    n = 0
    if X == 0:
        n = 1
    else:
        while X>0:
            X//=10
            n+=1
    return n
def isStrange(num):
    if(length(num) == 1 and num>=0):
        return True
    elif(length(num)>1 and num>=0):
        if(num%length(num) == 0):
            return True
        else:
            return False
    if length(num/length(num))!= 1:
            return isStrange((num/length(num)))

In [187]:
print("1. num = 0                       =>", isStrange(0))
print("2. num = 56                      =>", isStrange(56))
print("3. num = 100                     =>", isStrange(100))
print("4. num = 7882602506492313600     =>", isStrange(7882602506492313600))
print("4. num = 6012302549522098651     =>", isStrange(6012302549522098651))

1. num = 0                       => True
2. num = 56                      => True
3. num = 100                     => False
4. num = 7882602506492313600     => True
4. num = 6012302549522098651     => False

먼저 자리수를 반환해줄 length()를 만들고, isStrange에서 length()를 호출함으로 num의 자리수를 받고, if문을 이용해 자리수가 1이면 True, 1을 넘어 섰을 때 num과 그 자리수가 정확히 나누어 떨어지면 True, 그리고 아니면은 False, 그리고 재귀함수를 어디서 사용해야할지 생각을 하다, 재귀함수를 넣는 다면 마지막에 알려준 X/length(x) 이곳말고는 생각이 나지않아 이곳에 재귀함수를 사용해주었습니다. 이곳에 재귀함수를 사용하게 된다면, 만약 num/length(num)의 자리수가 한자리면 계속 나누어 떨어지므로, 1이 아닐때만 재귀가 돌게끔 해주었습니다.

# 9. 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.

- 1번 그룹, 2번 그룹, ... n번 그룹으로 번호가 매겨진 총 n개의 그룹이 존재하고, ith 그룹에는 임의의 팀원 수 ai 명이 있다.
  하나의 버스 정류장이 있고, 버스는 오직 한 대만 운영한다. 버스는 버스 정류장에 도착하고 모든 그룹은 버스를 통해 여행하길 원한다.
  하지만, 같은 그룹에 속한 팀원들은 분리되기를 원치 않는다. 그래서 그룹의 모든 팀원이 탈 수 있을 때 에만 그 그룹은 버스에 탑승한다.
  또한, 이들은 그룹의 번호순으로 여행을 하길 원한다. 예를 들어, 3번 그룹은 1번 그룹과 2번 그룹이 여행을 한 뒤에 버스를 탈 수 있거나, 1번     그룹과 2번 그룹이 이미 버스에 탑승한 상태에 있을 때 동시에 버스를 탈 수 있다.
  마지막으로, 버스는 빈 좌석이 없을 때 에만 여행을 떠난다.


- 이 문제에서 각 그룹의 팀원 수가 리스트로 주어질 때, 가능한 모든 버스의 사이즈 x(x명의 사람들이 동시에 탈 수 있음)를 반환하는 함수 solve(a) 를 작성하시오.
- [주의] 반드시 계산 복잡도를 최대한 낮추세요. 아래 예시 3번을 실행했을 때 결과가 바로 나타날 수 있도록!!

In [198]:
def solve(a):
    sum = 0
    totalsum = 0
    result = False
    listmax = max(a)
    bus = listmax
    index = 0
    bus_size = []
    ch_size = []
    false_size = []
    for ch in a:
        totalsum+=ch
    while bus<=totalsum//2:
        if listmax<=bus<=totalsum:
            for ch in range(len(a)):
                sum+=a[ch]
                if bus == sum:
                    sum = 0
                    result = True
                    ch_size.append(ch)
                else: 
                    result = False
                    false_size.append(ch)
            
        if result:
            bus_size.append(bus)
            bus+=a[index]
        else:
            bus+=a[index]
        if sum != 0:
            sum = 0
        ch_size.clear()
    bus_size.append(totalsum)
    bus_size.sort()
    return bus_size

In [199]:
a =[1, 2, 1, 1, 1, 2, 1, 3]
b = [1, 1, 1, 1]
c=  [9999] * 10**5 
print("b = ", b, " => ", solve(b))
print("a = ", a, " => ", solve(a))
print("c = ", a, " => ", solve(c))

b =  [1, 1, 1, 1]  =>  [1, 2, 4]
a =  [1, 2, 1, 1, 1, 2, 1, 3]  =>  [3, 4, 6, 12]

MemoryError:

이 문제에서 테스트케이스 1과 2를 통과한 후 최대한 계산복잡도를 줄여보고자 했지만, 실패하여 이때 까지한 코드로 하겠습니다.
먼저 while문을 bus가 함수에서 받은 리스트의 총합의 반을 넘어갈때 까지 돌렸는데, 최종 리스트의 최고값은 입력한 리스트를 다 더한 값이고, 최고보다 한 단계 낮은 값은 다 더한 값에 반이기 때문이다. 그리고 for을 돌려 sum이라는 변수에 리스트안에 있는 값을 더해주고 만야 bus와 같아진다면, result를 true로 만들어줍니다. 만약 같지 않다면 False로 해주어 다 돌았을 때 True이면 그때의 bus를 최종리스트에 넣어주는 방법으로 했습니다.

# [Incremental Project 문제]
이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.¶

- 요구사항 1. CSS와 Javascript 내용도 모두 제거하시오 (이전 숙제에서 이미 제외하였다면 본 요구사항 무시)
- 요구사항 2. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
    - 예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
    - 모든 punctuation을 확인하는 방법은 아래와 같다.
        - import string
        - print(string.punctuation)
- 요구사항 3. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
    - 예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '', '지향', ''] ---> ['컴퓨터공학부', '지향']

- 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.
    - 예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1}

- 요구사항 4. 다음 5개의 사이트에 대한 단어 출현빈도 결과를 출력하시오.
    - http://cse.koreatech.ac.kr
    -https://www.koreatech.ac.kr
    -http://www.naver.com
    -http://www.daum.net
    -http://www.nytimes.com

In [156]:
import requests
import string
req = requests.get('http://link.koreatech.ac.kr/lecture/2021/script_programming')

source = req.text
d = True
oh = ''
sh = ''
lh = ''
po = ''
char = '>'
lista = []
a = source
b = '<style>'
c = '</style>'
f= '<script type="text/javascript">'
e ='</script>'
for ch in range(len(a)):
    if(a[ch:ch+31]==f):
        d = False
    elif(a[ch:ch+9] == e):
        d= True
    if d:
        po = po + a[ch]
for ch in range(len(po)):
    if(po[ch:ch+7] == b):
        d = False
    elif(po[ch:ch+8] == c):
        d= True
    if d:
        sh = sh + po[ch]

for ch in range(len(sh)):
    if(sh[ch] == '>'):
        d = True
    if(sh[ch] == '<'):
        d = False
    if d:
        lh = lh + sh[ch]
for x in range(len(char)):
    lh = lh.replace(char[x],"")
list = lh.split()
pun = string.punctuation
newlist = []
for ch in pun:
    for sh in list:
        if sh == ch:
            list.remove(sh)
for ch in range(len(list)):
    punout = ''.join([i for i in list[ch] if i not in string.punctuation])
    newlist.append(punout)
newlist.sort()
dic = dict()
for ch in newlist:
    dic[ch] = 0
for ch in dic.keys():
    for sh in newlist:
        if ch == sh:
            dic[ch]+=1
print(dic)

{'00': 1, '01': 9, '01일금05일화': 1, '02': 3, '02B': 2, '02일화': 1, '03': 6, '03일금07일화': 2, '04': 6, '04B': 2, '05': 4, '05일금09일화': 1, '06': 2, '07': 2, '08': 4, '08월': 1, '08일': 1, '08일금12일화': 1, '09': 4, '0900': 2, '09월': 5, '1': 5, '10': 3, '100': 1, '10월': 7, '10일': 2, '10일금14일화': 2, '11': 5, '1100': 4, '11월': 6, '12': 4, '12월': 4, '12일금16일화': 1, '13': 4, '1300': 2, '14': 4, '15': 4, '15일금19일화': 1, '16': 2, '17': 1, '17일금': 1, '17일금21일화': 1, '18': 1, '19시': 1, '19일': 1, '19일금23일화': 1, '1분반': 1, '2': 5, '20': 1, '2019': 1, '2020': 4, '2021': 5, '2021년': 5, '20일22일': 1, '21시': 1, '22일': 1, '22일금10월': 1, '23시': 5, '24일': 1, '24일금28일화': 1, '26일금30일화': 1, '26일화': 1, '29일금11월': 1, '2공학관': 1, '2분반': 1, '3': 3, '30': 2, '30분': 1, '31일화': 1, '36': 1, '4': 3, '409호': 1, '423호': 1, '5': 2, '59분': 5, 'About': 2, 'Activity': 2, 'Acts': 1, 'AddisonWesley': 1, 'Album': 2, 'All': 2, 'Alumni': 2, 'Any': 1, 'Areas': 2, 'Asterisks': 1, 'Attendance': 2, 'Awards': 2, 'Bennett': 1, 'Board숙제': 1, 'Books': 1, 'Brian': 1, 'CSE221': 1, 'Classes': 1, 'Click': 4, 'Code': 1, 'Copyright': 2, 'Course': 4, 'Courses': 2, 'CoursesnbspSince': 2, 'CoursesnbspUntil': 2, 'Current': 2, 'Date': 6, 'Dictionary': 1, 'Drobbox': 1, 'Due': 5, 'ELearning': 3, 'ESC': 1, 'Editor': 1, 'Email': 3, 'Evaluation': 1, 'Exam': 1, 'Fall': 2, 'Final': 1, 'Five': 1, 'Github': 1, 'Home': 1, 'Homework': 7, 'I': 3, 'II': 3, 'III': 1, 'Information': 1, 'Intelligent': 2, 'Introduction': 2, 'Invited': 2, 'John': 1, 'Jupyter': 1, 'KOREATECH': 3, 'LINK': 1, 'LINKKOREATECH': 1, 'Lab': 2, 'Laboratory': 3, 'Lecture': 18, 'Lecturer': 1, 'Level': 1, 'Location': 2, 'Logistics': 1, 'Markdown': 5, 'Math': 1, 'Meeting': 1, 'Members': 2, 'Midterm': 1, 'Networks': 2, 'News': 2, 'Next': 1, 'Note': 16, 'Notebook': 1, 'Notes': 1, 'Notice': 1, 'Old': 2, 'Online': 1, 'Overland': 1, 'Papers': 2, 'Partners': 1, 'Patents': 2, 'Prerequisites': 1, 'Professor': 2, 'Programming': 3, 'Projects': 2, 'Publications': 2, 'Pycharm': 1, 'Python': 3, 'Quiz': 1, 'RPN': 1, 'Random과': 1, 'Reference': 1, 'Research': 4, 'Reserved': 2, 'Rights': 2, 'Rm': 1, 'Room': 1, 'STEP': 1, 'Schedule': 1, 'Script': 3, 'Semester': 1, 'Seminar': 2, 'Set': 1, 'Standards': 2, 'StudentsMembers': 2, 'Supercharged': 1, 'Take': 1, 'Talks': 2, 'Tutorial': 1, 'URL': 3, 'URL은': 1, 'URL을': 3, 'Your': 2, 'Zoom': 2, 'a': 1, 'absence': 1, 'absences': 1, 'academic': 1, 'amp': 1, 'and': 3, 'are': 1, 'b': 1, 'based': 1, 'be': 2, 'but': 1, 'cheating': 1, 'class': 2, 'classmates': 1, 'copy': 2, 'copying': 1, 'course': 1, 'dd': 1, 'deduction': 2, 'educational': 1, 'evaluation': 1, 'exam': 4, 'final': 1, 'for': 1, 'from': 1, 'grade': 2, 'homework': 1, 'httpelkoreatechackr': 1, 'httpnbviewerjupyterorg': 2, 'httpnbviewerjupyterorgurlsdldropboxcomst9nmklgjkp7w4okkmeansipynb': 1, 'ie': 1, 'in': 5, 'integrity”': 1, 'intensive': 1, 'ipynb': 3, 'jupyter': 3, 'knowledge': 1, 'koir5660koreatechackr': 1, 'learned': 1, 'm': 1, 'midterm': 1, 'much': 1, 'nbsp': 9, 'nbviewer': 2, 'not': 2, 'notebook': 3, 'of': 6, 'on': 1, 'one': 1, 'or': 1, 'out': 1, 'points': 3, 'process': 1, 'professor': 1, 'relationships': 1, 'result': 3, 'set': 1, 'ten': 1, 'the': 7, 'there': 1, 'this': 2, 'to': 1, 'tolerate': 1, 'trust': 2, 'two': 1, 'undermine': 1, 'violate': 1, 'violations': 1, 'which': 1, 'will': 6, 'y': 1, 'yhhankoreatechackr': 1, 'yoweifkoreatechackr': 1, '–': 4, '‘F’': 2, '“Studentprofessor': 1, '“failure”': 1, '가상환경': 1, '가져오기': 1, '각': 1, '각자': 1, '강의': 10, '것': 1, '게시판': 1, '고급': 4, '고사': 2, '교수': 1, '교재': 2, '구글학술검색': 1, '구매': 1, '그리고': 2, '글쓰기로': 1, '금01A': 1, '금03A': 1, '금요일': 2, '금융': 1, '기간': 1, '기능': 3, '기말': 1, '기본': 1, '기초': 3, '길벗': 1, '까지': 1, '날짜': 1, '내에': 1, '내장': 1, '넘파이': 2, '다루기': 1, '다산정보관': 1, '다음': 1, '대면': 3, '대해': 1, '데이터': 1, '돌아보기': 3, '등록': 3, '따라서': 1, '라인': 2, '람다': 2, '로': 1, '리스트': 4, '마크다운': 1, '매직': 1, '메소드': 3, '메소드와': 1, '명령어': 1, '모듈': 1, '모듈과': 1, '모듈의': 1, '모드': 1, '문법': 1, '문법으로': 1, '문자열': 3, '및': 2, '바이너리': 1, '반드시': 1, '반복문': 1, '방법': 1, '방법을': 1, '버전으로': 1, '범위': 1, '베넷': 1, '변경': 2, '보여지는': 1, '본문에': 1, '브라이언': 1, '사용법': 4, '사용법은': 1, '사용하기': 1, '사용하여': 1, '사이트': 1, '사이트로': 1, '사이트를': 1, '사이트에': 1, '사전': 2, '생성': 2, '생성한': 1, '석사과정': 2, '설명시에': 1, '설정': 1, '설치': 1, '설치하기': 2, '셀': 1, '셀로': 2, '셀추가': 2, '소개': 1, '수': 1, '수업': 5, '수업조교TA': 1, '수치형': 1, '숙제': 4, '숙제를': 1, '숙제별로': 1, '스크립트': 1, '스킬업': 1, '시작하기': 1, '시작하기02': 1, '시작해야': 1, '시험': 1, '실시간': 2, '실시간오프라인': 1, '아래로': 1, '언어의': 1, '얻기': 2, '업로드': 2, '여러': 1, '역': 1, '연구실': 1, '연휴': 1, '예': 3, '예시': 1, '예외': 1, '오버랜드': 1, '오프라인': 2, '오프라인Zoom': 2, '오후': 1, '온라인': 6, '온라인상': 1, '외부': 1, '원서': 1, '위': 1, '위로': 1, '위치': 1, '이해': 1, '익힐': 1, '인정': 1, '인터넷에서': 1, '입력': 1, '입력해야': 1, '입출력': 1, '자료': 3, '자료형과': 1, '자료형의': 4, '자신만의': 1, '자신의': 1, '작성하고': 1, '작성한': 1, '저조인석': 1, '정리': 2, '정밀하게': 1, '제출': 2, '조건문': 1, '존': 1, '주교재': 1, '중간': 1, '지름길': 2, '지우기': 1, '지창훈': 1, '진도': 1, '집합': 1, '참고': 2, '처리': 1, '처음': 1, '첨단기술연구소': 1, '최요한': 1, '추석': 1, '출석': 1, '커맨드': 2, '컴퓨터': 1, '컴퓨터공학부': 1, '코드': 2, '코드를': 1, '코딩을': 1, '콘다': 1, '콘텐츠': 2, '클래스': 1, '클래스와': 1, '클래스의': 1, '텍스트': 1, '텍스트와': 1, '통하여': 1, '튜플': 2, '특징': 2, '파이썬': 16, '파이썬의': 7, '파일': 4, '파일에': 1, '패키지': 5, '평생교육원': 1, '포매팅하기': 1, '포맷팅': 1, '폴더로': 1, '프로그래밍': 1, '프로그래밍2019년': 1, '필수': 1, '학습': 1, '한국기술교육대학교': 3, '한국연구재단': 1, '한연희': 1, '함': 3, '함수': 4, '함수의': 2, '해당': 2, '해야': 1, '화01A': 1, '화03A': 1, '화요일': 2, '확인하고': 1, '환경에서': 1, '활용': 3, '활용과': 3, '후': 2}

먼저 string.punctuation을 pun의 변수에 넣어주고, for문을 돌려 리스트에 punctuation이 있는지 검사하고 있다면 remove를 시켜주고, 그리고 리스트 내포방식과 join을 이용하여 리스트안에 있는 문자열에 punctuation이 있는지 검사하고 있다면 지워주게 했습니다.그리고 새로운 리스트를 만들고 제거된 문자열을 넣어주고, 구두문자가 없었던 문자열 또한 넣어주게 했습니다.
다음으로 dic이라는 딕셔너리 변수를 만들고, for문을 이용해 dic에 newlist를 넣고 value를 0으로 만들고 다시한번 for문을 돌려 리스트 안에 같이 문자열이 있으면 value를 1씩 증가시켜주었습니다.

소감문

9번문제의 계산복잡도를 최대한 낮추려 해보았지만, 실패하여 아쉽고, 시간이 나면 다시 도전하고 싶습니다.